extend layout

block content
    h1 twitter logined!!
    p Hi, #{username}
    img(src="#{profile_image}")

    hr
    a(href="/") go to top page.

script(type='text/javascript').
    var user = '#{username}';
    var socket;
    $(function(){
        socket = io.connect();
        socket.emit('login', user);
        socket.on('updateLoginUsers', function(users){
            console.log('updateLoginUsers# users='+users);
            updateLoginUsers(users);
        });
    });

    function updateLoginUsers(users){
        console.log(users);
    }
